pkgbase = joustmania-git
	pkgdesc = JoustMania is a collection of PlayStation Move enabled party games
	pkgver = v1.0.136.g8a8fea8
	pkgrel = 1
	url = joustmania.com
	arch = any
	license = MIT
	makedepends = git
	depends = python
	depends = python-dbus
	depends = psmoveapi-git
	depends = sdl
	depends = sdl_mixer
	depends = sdl_sound
	depends = portmidi
	depends = portaudio
	depends = sdl_image
	depends = sdl_ttf
	depends = blas
	depends = lapack
	depends = bluez
	depends = supervisor
	depends = ffmpeg
	depends = libsystemd
	depends = swig
	depends = alsa-lib
	depends = alsa-utils
	depends = alsa-tools
	depends = python-scipy
	depends = python-numpy
	depends = python-psutil
	depends = python-flask
	depends = python-flask-wtf
	depends = python-pyalsaaudio
	depends = python-pydub
	depends = python-pygame
	depends = python-pyaudio
	depends = python-yaml
	provides = joustmania
	conflicts = joustmania
	source = joustmania::git+https://github.com/adangert/joustmania.git
	source = joustmania.sh
	md5sums = SKIP
	md5sums = SKIP

pkgname = joustmania-git

